// Widths

$width-mb: 23.4375rem; // 375px
$width-desk: 90rem; // 1440px

// Fonts

$font-xxsm: 0.75rem; // 12px
$font-xsm: 0.875rem; // 14px
$font-sm: 1rem; // 16px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 1.5rem; // 24px
$font-xxlg: 2rem; // 32px
$font-xxxlg: 3rem; // 48px 


// Colors

// Primary
$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);


// Neutral
$darkGrayishRed: hsl(0, 6%, 24%);


// Gradients
